name: CI

on: 
  push:
    branches: 
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Installing mono
      run: sudo apt install mono-complete
    - name: Compillation mono
      run:  xbuild ./KingOfTokyo/KingOfTokyo.sln
